@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:ital,wght@1,300&display=swap");
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
    position: relative;
  }
  img {
    border-radius: 50%;
  }
  h1 {
    font-family: "Lora", sans-serif;
    color: #f9faf8;
    display: flex;
    background: #1f2937;
    margin: 0;
    padding: 15px;
  }
  .documentFrame {
    z-index: 1;
    color: #f9faf8;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .firstCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-top: 1px groove #f9faf8;
    flex-direction: column;
    padding: 2rem;
  }
  .firstCard .dailyTip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .firstCard .dailyTip img {
    margin: 10px 10px 20px 10px;
  }
  .randomTip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .randomTip img {
    margin: 10px 10px 20px 10px;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", sans-serif;
    font-size: xx-large;
  }
  .authorList {
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a";
  }
  .authors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: large;
  }
  .authors img {
    box-shadow: 1px 1px 5px 1px;
    margin-bottom: 0.5rem;
  }
  .authors img:hover {
    transform: scale(1.3);
    transition: 0.5s ease;
  }
  .quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    background-color: #f9faf8;
    border-radius: 10px;
    padding: 2em;
  }
  .quotes img {
    box-shadow: 1px 1px 5px 1px;
    margin-bottom: 0.5rem;
    margin: 10px;
  }
  .authorCard {
    display: flex;
    top: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    width: 100vw;
    height: 100%;
  }
  .authorCard img {
    /* display: none; */
  }
  .savedDiv img {
    margin-left: 10px;
  }
  .savedDiv p {
    display: flex;
    margin-bottom: 2em;
  }
  .card {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .card li {
    padding-top: 10%;
  }
  .card button:hover {
    transform: scale(1.8);
    transition: 0.5s ease;
  }
  .exitButton {
    background-color: transparent;
    border: 0;
    font-size: xx-large;
  }
  .randomizeButton {
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #3882f6;
    background-color: #3882f6;
    border: solid, 10px;
    margin-top: 5vh;
    margin-top: 20px;
  }
  .saveButton {
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #3882f6;
    background-color: #3882f6;
    border: solid, 10px;
    margin-top: 5vh;
    margin-top: 20px;
  }
  .saveDaily {
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #3882f6;
    background-color: #3882f6;
    border: solid, 10px;
    margin-top: 5vh;
    margin-top: 20px;
  }
  .random {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-top: 1px groove #f9faf8;
    flex-direction: column;
    padding: 2rem;
    min-width: 30vw;
  }
  .savedQuotes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-top: 1px groove #f9faf8;
    flex-direction: column;
    padding: 2rem;
    min-width: 30vw;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    position: relative;
  }
  img {
    border-radius: 50%;
  }
  h1 {
    font-family: "Lora", sans-serif;
    color: #f9faf8;
    display: flex;
    background: #1f2937;
    margin: 0;
    padding: 15px;
  }
  .documentFrame {
    z-index: 1;
    color: #f9faf8;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .firstCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-top: 1px groove #f9faf8;
    flex-direction: column;
    padding: 2rem;
  }
  .firstCard .dailyTip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .firstCard .dailyTip img {
    margin: 10px 10px 20px 10px;
  }
  .randomTip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .randomTip img {
    margin: 10px 10px 20px 10px;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", sans-serif;
    font-size: xx-large;
  }
  .authorList {
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a b c d";
  }
  .authors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: large;
  }
  .authors img {
    box-shadow: 1px 1px 5px 1px;
    margin-bottom: 0.5rem;
  }
  .authors img:hover {
    transform: scale(1.3);
    transition: 0.5s ease;
  }
  .quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    background-color: #f9faf8;
    border-radius: 10px;
    padding: 2em;
  }
  .quotes img {
    box-shadow: 1px 1px 5px 1px;
    margin-bottom: 0.5rem;
    margin: 10px;
  }
  .authorCard {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    margin-bottom: 10%;
  }
  .savedDiv img {
    margin-left: 10px;
  }
  .card {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .card button:hover {
    transform: scale(1.8);
    transition: 0.5s ease;
  }
  .exitButton {
    background-color: transparent;
    border: 0;
    font-size: xx-large;
  }
  .randomizeButton {
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #3882f6;
    background-color: #3882f6;
    border: solid, 10px;
    margin-top: 5vh;
    margin-top: 20px;
  }
  .saveButton {
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #3882f6;
    background-color: #3882f6;
    border: solid, 10px;
    margin-top: 5vh;
    margin-top: 20px;
  }
  .saveDaily {
    color: #f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #3882f6;
    background-color: #3882f6;
    border: solid, 10px;
    margin-top: 5vh;
    margin-top: 20px;
  }
  .random {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-top: 1px groove #f9faf8;
    flex-direction: column;
    padding: 2rem;
    min-width: 30vw;
  }
  .savedQuotes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-top: 1px groove #f9faf8;
    flex-direction: column;
    padding: 2rem;
    min-width: 30vw;
  }
}/*# sourceMappingURL=app.css.map */